.button {
    width: 12rem;
    height: 3rem;
    padding-top: 1rem;
    margin: auto;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    border-radius: 30%;
    border: 1px solid #fcbdca;
  }

.button a {
   color: rgb(61, 3, 53); 
   font-weight: 800;
   text-decoration: none;
   font-size: larger;
}

@media screen and (max-width: 350px) {
    .reset-button {
        width: 7rem;
        height: 2rem;
        padding-top: 0.5rem;
        font-size: small;
        margin-left: 20%;
    }
}