.footer{
    padding: 5%;
    font-size: 6px;
}

.footer a {
    font-size: 12px;
    font-weight: 600;
    text-decoration: dotted;
    color: rgb(110, 16, 52);
}

@media screen and (max-width: 350px) {
    .footer {
        padding: 3%;
        width: 13rem;
    }
}